@(toolbar: Html)(timeline: Html)(storyitemsview: Html)

@main("SnipStory") {

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/dashboard.css")">

	<div class="dashboard-main container-responsive">
		<div class="heading">
			<img src="/assets/images/landing/SnipLogo_compressed.png">
		</div>

		@toolbar
		@timeline
		@storyitemsview

		<div class="footer">
			<hr>
			<div class="footer-list"> 
				<ul>
					<li>About Us</li>
				</ul>
			</div>
		</div>
	</div>

	
	<script type="text/javascript" src="@routes.Assets.at("javascripts/snipstory/toolbar.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/snipstory/timeline.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/snipstory/storyitemsview.js")"></script>
}