<div>

<div class="carousel-wrap">
	<div id="carousel-demo1">
		<div><img class="timelineItem" src="@routes.Assets.at("images/home/mylifestory.jpg")" ></div>
		<div><img class="timelineItem" src="@routes.Assets.at("images/home/mylifestory.jpg")" ></div>
		<div><img class="timelineItem" src="@routes.Assets.at("images/home/mylifestory.jpg")" ></div>
		<div><img class="timelineItem" src="@routes.Assets.at("images/home/mylifestory.jpg")" ></div>
		<div><img class="timelineItem" src="@routes.Assets.at("images/home/mylifestory.jpg")" ></div>
		<div><img class="timelineItem" src="@routes.Assets.at("images/home/mylifestory.jpg")" ></div>
	</div>
</div>

	<h1>timeline</h1>
</div>
