@(title: String)

<div class="landing-main container-fluid">
	<div class="row-fluid">
		<div class="">
			

			<div class="welcome-signup form-signup">
			<div class="welcome-input-forms">
				<div class="welcome-title page-header">
					<h1>@title</h1>
				</div>
				<label class="welcome-label">Password</label>   
	    		<input type="password" placeholder="">

	    		<label class="welcome-label">Confirm Password</label>  
	    		<input type="password" placeholder="">

	    		<label class="welcome-label">Birthdate</label>     
	    		<input type="date" placeholder="">
				
	    		<div>
				<a href="">
					<button id="createAccount-btn" class="btn btn-large btn-primary">Create My Account</button> 
				</a>
				</div>
			</div>
			

		</div>
	</div>		
</div>