@admin("SnipStory - Admin") {
	<div id="invitees" name="invitees" class="container">
		<div>
			<h2 class="pull-left">Invitees</h2>
			<a id="export-invitees" class="pull-right" href="/admin/invitees/exportCSV">Export CSV</a>
			<button id="refresh-invitees" class="pull-right refresh-btn btn btn-primary">Refresh</button>
		</div>
		<table id="invitees-table" class="tablesorter">
			<thead>
				<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Landing_Site</th>
				<th>Created</th>
				</tr>
			</thead>
			<tbody id="invitee-table">
			</tbody>
		</table>
	</div>

	<hr>

	<div id="feedback" name="feedback" class="container">
		<div>
			<h2 class="pull-left">Feedback</h2>
			<button id="refresh-feedback" class="pull-right refresh-btn btn btn-primary">Refresh</button>
		</div>
		<table id="feedbacks-table"class="tablesorter">
			<thead>
				<th>Feature</th>
				<th>Email</th>
				<th>Landing_Site</th>
				<th>Feedback</th>
			</thead>
			<tbody id="feedback-table">
			</tbody>
		</table>
	</div>

	<hr>
}


