.dashboard-main {
	margin-left: 3%;
	margin-right: 3%;
	background: #AFEEEE;
	border-radius: 3px;
	padding: 2%;
}

.toolbox {
	border-bottom: 2px solid black;
}

.tools li {
	list-style-type: none;
	display: inline;
	margin: 5px;
}

.profile li {
	list-style-type: none;
}

.timeline {
	border-bottom: 2px solid black;
}

.storyitemsview {
	border-bottom: 2px solid black;
}

.heading {
	width: 350px;
	height: 150px;
}

.timelineItem {
	background:#ccc;
	border:1px solid #fff;
	color:#666; 
	float:left;
	font-weight:bold;
	font-size:8em;
	height:40px;

	padding:20px 0 0 0;
	margin-left: 20px;
	margin-right: 20px;

	text-align:center;
	width: 80px;
}
#carousel-demo1 {
	height: 100px;
	overflow: visible !important;
}

.carousel-wrap {
	height: 100px;
	width:  1000px;
}

.enlargedTimelineItem {
	-webkit-transform: scale(2.5);
	-webkit-transition-duration: 1s;
}

