/*
  Landingv1
*/

#invite-email-field {
	float: left;
}

.footer a.btn{
	background: #F26621;
	text-decoration: none;
	margin-top: 10px;
	margin-right: 5px;
}

.footer {
	margin-left: 30%;
	margin-right: 35%;
}

.logo {
	width: 755px;
	height: 300px;
	margin: -2%;
}

.learn-more {
	margin: 2%;
}

.learn-more a {
	text-decoration: none;
	cursor: pointer;
}

.learn-more p {
	font-size: 20px;
}

#joined-thankyou a.btn {
	background: hsl(181, 51%, 80%);
	color: black;
	text-decoration: none;
	margin-top: 10px;
	margin-right: 5px;
}

#joined-thankyou button {
	margin-top: 10px;
	margin-left: 5px;
}

.learn-more button {
	font-size: 20px;
}

.spacer {
	margin: 75px;
}

.landing-main {
	margin-left: 3%;
	margin-right: 3%;
	background: #AFEEEE;
}

.landing-main h1 {
	padding-top: 50px;
	font-size: 100px;
}

.landing-main button {
	background: #F26621;
}

.landing-email {
	width: 50%;
}

#invite-form {
	margin-top: 10%;
}

.form-signup {
	margin-top: 10%;
	display: block;
	max-width: 300px;
	padding: 19px 29px 29px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05)
}


.padded {
	padding-top: 35px;
	padding-bottom: 35px;
}

.feedback textarea {
	width: 100%;
}

.landing-btn {
	background: hsl(181, 51%, 80%);
	color: black;
}

.landing-btn:hover {
	background: hsl(181, 51%, 50%);
	color: black;
}

/*
Landingv2
 */

.landingv2-main {
	margin-left: 3%;
	margin-right: 3%;
	background: #FFFFFF;
}

.logo-v2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo-v2 img {
	width: 90%;
	height: 70%;
}

.form-signup-heading {
	color: #808184;
	line-height: 26px;
	font-size: 24.5px;
}

.footer-btn {
	color: #808184;
}


/*
Landingv4
 */

.landing4-btn {

}

