
/* Landing page */

.jumbotron h1 {
	margin-left: 30%;
	margin-bottom: 2%;
	font-size: 100px;
	line-height: 1;
}

.jumbotron .lead {
	margin-left: 35%;
	margin-bottom: 2%;
	line-height: 1;
}

.learn-more {
	margin: 2%;
}

.learn-more h3 {
	margin-left: 45%;
}

.learn-more a {
	text-decoration: none;
	cursor: pointer;
}

.learn-more p {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

.spacer {
	margin: 50%;
}

.landing-main {
	margin: 3%;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 30%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(30%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 30%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 30%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 30%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 30%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.form-signup {
	margin-top: 10%;
	display: block;
	max-width: 300px;
	padding: 19px 29px 29px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05)
}


.padded {
	padding-top: 35px;
	padding-bottom: 35px;
}

.border {
	border-top: solid 2px;
}

img {
	width:100%;
	height:100%;
}

.feedback textarea {
	width: 100%;
}

.learn-more input {
	width: 100%;
}





