.span1, .span2, .span3, .span4, .span5, .span6,
.span7, .span8, .span9, .span10, .span11, .span12
{
	padding-top: 35px;
	padding-bottom: 35px;
}
.border
{
	border-top: solid 2px;
}
img
{
	width:100%;
	height:100%;
}