<div class="well landingv2-main container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="span6 offset3 logo-v2">
				<img src="/assets/images/landing/SnipLogoV2.png">
			</div>
			<div class="row-fluid">
				<div id="player" class="well offset1 span6">
				</div>
				
				<div id="invite-form" class="span4 well">
					<div class="row-fluid">
						<div class="span12">
							<input id="invite-email-field" type="text" class="well span6 input-block-level" placeholder="Email Address">
							<button id="signup-btn" class="span4 btn btn-primary">Notify Me</button>
						</div>
					</div>
					<h4 style="font-size: 16.5;" class="form-signup-heading">Be the first to be notified when we launch!</h4>
					<div class="row-fluid">
						<div class="span12 fb-like" data-href="https://www.facebook.com/snipstory" data-width="60" data-height="50" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false">
						</div>
					</div>
				</div>
				
			</div> 
		</div>
	</div>	
	<div class="landingv2-main container-fluid learn-more" name="learnMore" id="learnMore"></div>
	<hr>
	<div class="footer row-fluid">
		<div class="span3">
			<button id="survey" class="btn btn-large btn-primary">
				<a href="https://byu.qualtrics.com/SE/?SID=SV_82eViwx5a6BjJuR">Customize Snipstory For You</a>
			</button>
		</div>
		<div class="span3">
			<button id="googleplus" class="btn btn-large btn-primary">
				<a href="https://www.facebook.com/snipstory" rel="publisher">Find us on Facebook</a> 
			</button>
		</div>
	</div>
</div>
