@(title: String)

<script type="text/javascript" src="@routes.Assets.at("javascripts/views/learnMore.js")"></script>

<div class="landing-main container-fluid">
	<div class="row-fluid">
		<div class="span11">
			<div class="span11 offset1">
				<h1>SnipStory</h1> <br>
				<h3 class="lead">Where your life records itself... One snippet at a time</h3>
			</div>
			<div class="row-fluid">
				<iframe class="span7 offset1" height="500" src="//www.youtube.com/embed/BKOPijXHppo" frameborder="0" allowfullscreen></iframe>
				<div id="invite-form" class="span3 offset1">
					<h2 class="form-signup-heading">Join Invite List</h2>
					<input id="invite-email-field" type="text" class="input-block-level" placeholder="Email Address">
					<input id="invite-name-field" type="text" class="input-block-level" placeholder="Name">
					<button id="signup-btn" class="btn btn-large btn-primary">Sign Up</button>
				</div>
			</div> 
		</div>

		<div class="learn-more row-fluid">
		</div>

		
		<div name="learnMore" id="learnMore"></div>

	</div>		
</div>
