@(title: String)

<script type="text/javascript" src="@routes.Assets.at("javascripts/views/learnMore.js")"></script>

<div class="landing-main container-fluid">
	<div class="row-fluid">
		<div class="span11">
			<div class="jumbotron">
				<h1>SnipStory</h1>
				<p class="lead">Easily Record Your Entire Life Story</p>
			</div>
			<div class="row-fluid">
				<iframe class="span7" height="500px" src="//www.youtube.com/embed/XnBDyP1jk8Y" frameborder="0" allowfullscreen></iframe>
				<div id="invite-form" class="form-signup span4 offset1">
					<h2 class="form-signup-heading">Join Invite List</h2>
					<input id="invite-email-field" type="text" class="input-block-level" placeholder="Email Address">
					<input id="invite-name-field" type="text" class="input-block-level" placeholder="Name">
					<button id="signup-btn" class="btn btn-large btn-primary">Sign Up</button>
				</div>
			</div> 
		</div>

		<div class="learn-more row-fluid">
			<div class="span11">
				<a href="#learnMore"> <h3>Learn more.</h3> </a>
				<p> We would appreciate your feedback as we know your insights can be extremely valuable as we are building this product. </p>
			</div>
		</div>

		
		<div name="learnMore" id="learnMore"></div>

	</div>		
</div>
