@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    	<title>@title</title>
    	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/libs/bootstrap.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/libs/bootstrap-responsive.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @content

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/libs/underscore.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/libs/backbone.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/libs/bootstrap.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/views/landingpage.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/views/admin.js")"></script>
    </body>
</html>
